{#
/**
 * @file
 * Default theme implementation to display a list of links.
 *
 * Available variables:
 * - links: A collection of links.
 *
 * @ingroup themeable
 */
#}
<ul>
{% for link in links %}
  <li>
    {{ link }}
  </li>
{% endfor %}
</ul>
